.invitation {
  color: #52565d;
  background-color: rgb(221, 215, 187);
  border: 3px solid #16181a;
  border-radius: 4px;
  padding: 12px;
  padding-top: 4px;
}

.invitation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.invitation-header span {
  margin-right: 5vmin;
  margin-top: 1vmin;
  font-weight: 700;
}

.invitation-content {
  display: flex;
  flex-direction: column;
}

.invitation-text {
  margin: 2vmin 0;
  text-align: center;
}

.invitation-text .flag {
  filter: sepia(0.3);
}

.invitation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sepia-button.invitation-close-button {
  padding: 1px 6px;
}

.sepia-button.accept {
  background-color: rgb(141, 185, 115);
}

.sepia-button.reject {
  background-color: rgb(199, 157, 118);
}
