.user {
    margin-left: 1vmin;
    grid-area: user;
    display: flex;
    flex-direction: row;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    background-color: #212325;
    padding: 10px;
    border-radius: 1vh;
}

.login-form > * {
    margin: 0 1vmin;
}

.login-info {
    font-size: 0.9vmin;
    display: flex;
    font-weight: 100;
    align-self: center;
    text-align: center;
}

.login-info--link {
    display: inline;
}

.login-info--link:link {
    color: #a89a70;
    text-decoration: none;
}

.login-info--link:visited {
    color: rgb(221, 215, 187);
}

.login-info--console {
    font-style: italic;
    font-size: 0.85vmin;
    color: rgb(226, 204, 107);
    padding-top: 1px;
    padding-bottom: 1px;
}
