@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }

  .header > .header-text {
    margin: 0;
  }

  .header > .online-badge {
    margin-top: 8px;
  }

  .sidebar > .navbar-item {
    font-size: 1em;
  }

  .header-user {
    display: none;
  }

  .tab > .chat > .chat-header > button {
    font-size: 1.5em;
  }

  .tab > .chat > .chat-header {
    height: 3em;
  }
}
