.sepia-button {
  display: block;
  color: #52565d;
  padding: 8px;
  background-color: rgb(221, 215, 187);
  font-family: 'Montserrat', sans-serif;
  font-size: 2vmin;
  font-weight: 300;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.45);
}

.button--sepia {
  border-color: #d8d8d840;
  background-color: #31302e;
  color: rgb(221, 215, 187);
}

.button--sepia--hidden {
  visibility: hidden;
}
