.chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131414;
    width: 100%;
    height: 4vmin;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
}

.chat-header-text {
    display: flex;
}

.chat-header .sepia-button {
    position: absolute;
    right: calc(3vmin + 4px);
    padding: 1px 6px;
    font-weight: 700;
}
